[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
"path.py" = "*"
"ruamel.yaml" = "*"
requests = "*"
attrs = "*"
arrow = "*"
feedgenerator = "*"
python-twitter = "*"
sqlalchemy = "*"

[dev-packages]
"beautifulsoup4" = "*"
feedparser = "*"
pycodestyle = "*"
mccabe = "*"
pyflakes = "*"
pytest = "*"
pytest-flask = "*"
pytest-mock = "*"
black = "==18.6b4"

[requires]
python_version = "3.6"
