{% extends "base.html" %}
{% block title %}TwittBack{% endblock %}
{% block content %}
<h1>Welcome to TwittBack</h1>


<h2>Tweets from {{ user.screen_name }}</h2>


<a href="{{ app.url_for("view_user") }}">See user profile</a>

{% for group in year_groups | reverse %}
    {% set year =  group[0] %}
    {% set months = group[1] %}
    <h3>{{ year }}</h3>
    <p>
    <ul>
    {% for month in months | reverse %}
    {% set month_number = month[0] %}
    {% set month_name = month[1] %}
    <li><a href="{{ app.url_for("timeline", year=year, month=month_number) }}">{{ month_name }}</a></li>
    {% endfor %}
    </ul>
    </p>
{% endfor %}
{% endblock %}
